#app {
      height: 90vh;
    }

    .day {
      background-color: #fff;
      color: #333;
    }

    .night {
      background-color: black;
      color: white;
    }

    #swap {
      outline: 0;
    }

    .button_day {
      background-color: #4caf50;
      color: #fff;
    }

    .button_night {
      background-color: blue;
      color: white;
    }
